@import "tailwindcss";

:root {
	--foreground: #0a0a0a;
	--background: #addcec;
	--bgblue: oklch(93.2% 0.032 255.585);
	--bgblueflip: oklch(37.9% 0.146 265.522);
	/* --background: #ffffff; */
	/* --foreground: #1s71717; */
}

.dark {
	--foreground: #fffbd4;
	--background: #0a0b29;
	--bgblue: oklch(37.9% 0.146 265.522);
	--bgblueflip: oklch(93.2% 0.032 255.585);
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-bgblueflip: var(--bgblueflip);
	--color-bgblue: var(--bgblue);
	--font-pixel: var(--font-pixel);
	--font-google: var(--font-google-sans);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fffbd4;
    --background: #0a0b29;
    --bgblue: oklch(37.9% 0.146 265.522);
    --bgblueflip: oklch(93.2% 0.032 255.585);
  }
} */

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-google-sans);
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.font-pixel {
		font-family: var(--font-pixel);
	}

	.font-google-sans {
		font-family: var(--font-google);
	}

	.font-geist-sans {
		font-family: var(--font-geist-sans);
	}

	.font-geist-mono {
		font-family: var(--font-geist-mono);
	}
}

@layer base {
	body {
		/* Standard CSS way to do responsive text without @apply */
		/* Clamp: (min size, preferred size based on width, max size) */
		font-size: clamp(0.85rem, 0.9rem + 0.25vw, 1.25rem);
		line-height: 1.6;
		word-wrap: break-word;
	}
}

.mask-fade-edges {
	-webkit-mask-image: linear-gradient(
		to right,
		transparent,
		black 2%,
		black 98%,
		transparent
	);
	mask-image: linear-gradient(
		to right,
		transparent,
		black 2%,
		black 98%,
		transparent
	);

	/* Critical: ensure the mask doesn't repeat if the container is larger */
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}
